.sliderTrack{
    width: 100%;
    height: 25px;
    
}
.sliderThumb{
    color: black;
    background-color: slategrey;

}
.horizontal-slider{
    width: 100%;
    height: 25px;
    background-color: grey;
}
#graphwrapper{
    position: sticky;
    
    top:0;
}

.graphCanvas{
    position: absolute;
    
    z-index: 2;
}
.timingCanvas{
    position: relative;
    
    
    z-index: 0;
}
